<%- include('includes/head.ejs') %>
<body>
    <header class="main-header">
       <%- include('includes/navigation.ejs') %>
        <div class="product-form"><h1>Page not found !!</h1></div>
        
        
    </header>
</body>
</html>