<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add prodict</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="logo"><h1>Clubly App</h1></div>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">News</a></li>
                <li class="main-header__item"><a  href="">Talent Videos</a></li>
                <li class="main-header__item"><a  href="">Offers</a></li>
                <li class="main-header__item"><a href="/add-product">Add news</a></li>
            </ul>

        </nav>
    </header>
    <main>
        <h1>News</h1>
        <p> List of all the News</p>
    </main>
</body>
</html>